.condarc     
.jupyter           
.oh-my-zsh                 
.vimrc          
.zcompdump    
__pycache__
.config     
.hushlogin  
.lightning_studio  
.profile                   
.vscode         
.zsh_history
.bashrc  
.wget-hsts
.docker     
.idea       
.lightningignore   
.ssh                      
.vscode-server  
.cache   
